.main {
  position: relative;
  background: #fff;
  border: 1px solid #000;
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  max-width: max-content;
}

.step-count {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.step {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.title {
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

.form-elements {
  display: grid;
  gap: 1rem 0.5rem;
  justify-content: flex-start;
  grid-template-columns: auto minmax(auto, 400px);
}