.wrapper {
    width: 99%;
    height: 100vh;
    border: 1px solid;
    margin: 5px;
}

.calenderHead {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

.calenderHead p {
    margin-top: 5px;
    font-weight: 400;
}

.calenderHead ion-icon{
    cursor: pointer;
    margin: 10px;
    font-size: 1.5rem;
}

.sevenColGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 27px;
}

.dayHead {
    text-align: center;
    background: darkkhaki;
    font-size: 1.2rem;
    font-weight: bold;
}

.calenderBody {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: calc(100% - 27px - 40px);
}

.calenderBody .fourCol {
    grid-template-rows: repeat(4, 1fr);
}

.calenderBody .fiveCol {
    grid-template-rows: repeat(5, 1fr);
}

.styledDay {
   border: 1px solid;
   text-align: right;
   padding: 5px;
}

.styledDay.active {
    background: pink;
}

.styledEvent {
    display: grid;
    text-align: left;
    /* background: darkblue; */
    color: white;
    padding: 2px 7px;
    border-radius: 8px;
    margin: 5px 0;
    text-transform: capitalize;
    cursor: move;
}

.portalWrapper {
    background: white;
    position: absolute;
    width: 40%;
    height: 200px;
    top: 50%;
    left: 50%;
    border-radius: 6px;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 20px black;
    padding: 40px;
}

.portalWrapper h2 {
    font-size: 3rem;
}

.portalWrapper p {
    margin-bottom: 10px;
}

.portalWrapper ion-icon {
    font-size: 2rem;
    color: red;
    background: lightblue;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.portalWrapper ion-icon[name="close-outline"] {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: lightblue;
    cursor: pointer;
}

.seeMore {
    font-size: 12px;
    padding: 0 5px;
    margin-bottom: 0;
    cursor: pointer;
}