.sidebar-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.75rem;
    font-size: 1.125rem;
    padding: 2rem;
    text-decoration: none;
    color: #fff;
}

.sidebar-link:hover {
    background-color: #1f1f1b;
    border-left: 4px solid #6d44dc;
}

.sidebarLabel {
    margin-left: 1rem;
}

.dropdown-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3.75rem;
    font-size: 1.125rem;
    padding-left: 3rem;
    text-decoration: none;
    color: #fff;
}

.dropdown-link:hover {
    background-color: #6d44dc;
}
